{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience - {{ name }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/jpg" href="/static/img/favicon.jpg"> <!-- untuk icon bar di tab -->
</head>

<body>
    <!-- HEADER dan my main NAVIGATION gw
     elemen semantik = <header> dan <nav> -->
    <header class="site-header">
        <div class="container">
            <a href="{% url 'main:show_main' %}" class="brand">NAMI's PORTOFOLIO</a>
            <nav>
                <a href="{% url 'main:show_main' %}">Profile</a>
                <a href="{% url 'main:show_experience' %}">Experience</a>
                <a href="{% url 'main:show_education' %}">Education</a>
            </nav>
        </div>
    </header>

    <section class="education">
        <div class="container">

            <div class="education-header-bar">
                <h1 class="section-title">EDUCATION</h1>
                <p>Here are my academic milestones</p>
            </div>

            {% if education_list %}
            <div class="education-grid">

                {% for edu in education_list %}
                <div class="education-card">
                    <div class="education-brand">
                        {% if edu.logo %}
                        <img
                            src="{{ edu.logo }}"
                            alt="{{ edu.school }} logo"
                            class="education-logo">
                        {% endif %}
                    
                        <h3 class="education-name">
                            {{ edu.school }}
                        </h3>
                    </div>

                    <details>
                        <summary class="exp-summary">
                            <div class="summary-header">

                                <span class="role-title">
                                    {{ edu.degree }}
                                </span>

                                <span class="badge">
                                    {{ edu.start_year }} - {% if edu.end_year %}{{ edu.end_year }}{% else %}Present{% endif %}
                                </span>
                            </div>
                        </summary>

                        <div class="edu-expanded-content">
                                <p class="education-desc">
                                    {{ edu.description|linebreaksbr }}
                                </p>
                        </div>
                    </details>
                </div>
            {% endfor %}

            </div>
        {% else %}

            <p class="empty-state">
                Belum ada riwayat pendidikan yang ditambahkan.
            </p>
        {% endif %}

        </div>
    </section>

    <footer class="site-footer">
        <div class="container">
            <p>&copy; 2026 {{ name }}. Fakultas Ilmu Komputer, Universitas Indonesia.</p>
        </div>
    </footer>
</body>
</html>