{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience - {{ name }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/jpg" href="/static/img/favicon.jpg"> <!-- untuk icon bar di tab -->
</head>

<body>
    <!-- HEADER dan my main NAVIGATION gw
     elemen semantik = <header> dan <nav> -->
    <header class="site-header">
        <div class="container">
            <a href="{% url 'main:show_main' %}" class="brand">NAMI's PORTOFOLIO</a>
            <nav> <!-- navigation button-->
                <a href="{% url 'main:show_main' %}">Profile</a>
                <a href="{% url 'main:show_experience' %}">Experience</a>
                <a href="{% url 'main:show_education' %}">Education</a>
            </nav>
        </div>
    </header>

    <section class="experiences">
        <div class="container">

            <div class="experiences-header-bar">
                <h1 class="section-title">EXPERIENCES</h1>
                <p>Take a look at some of my experiences :] !!!</p>
            </div>

            {% if experience_list %} <!-- mengecek apakah ada data experience yg dikirim dari views.py -->
            <div class="experience-grid">

                {% for experience in experience_list %} <!-- looping experience yg ada di experience_list -->
                <div class="experience-card">
                    <div class="card-brand">
                        {% if experience.thumbnail %} <!-- mengecek apakah data experience punya thumbnail. kalo ada maka render tag img-->
                        <img
                            src="{{ experience.thumbnail }}"
                            alt="{{ experience.title }} logo"
                            class="brand-logo"> <!-- nampilin thumbnail/logo dari experience -->
                        {% endif %} <!-- nutup kondisi if thumbnail  -->
                    
                        <h3 class="brand-name"> <!-- menampilkan nama organisasi/experience-->
                            {{ experience.title }}
                        </h3>
                    </div> <!-- nutup div pembungkus header experience (logo + nama brand) -->

                    <details> <!-- collapsible section, bisa diklik buat expand detail experience -->
                        <summary class="exp-summary"> <!-- bagian ringkas yang selalu keliatan -->
                            <div class="summary-header"> <!-- wrapper buat nata layout kategori & tanggal -->

                                <span class="role-title">
                                    {{ experience.category }}
                                </span>

                                <span class="badge">
                                    {% if experience.started_at %}
                                        {{ experience.started_at|date:"F Y"}}

                                        {% if experience.is_ongoing %}
                                                - Present
                                            {% elif experience.ended_at %}
                                                - {{ experience.ended_at|date:"F Y" }}
                                            {% endif %}
                                        {% endif %}
                                </span>

                            </div>
                        </summary>

                        <div class="exp-expanded-content">
                            {% if experience.main_image %}
                                    <img
                                        src="{{ experience.main_image }}"
                                        alt="{{ experience.title }}"
                                        class="exp-img">
                                {% endif %}

                                <p class="experience-desc">
                                    {{ experience.description }}
                                </p>

                        </div>
                    </details>

                </div>
            {% endfor %}

            </div>
        {% else %}

            <p class="empty-state">
                Belum ada pengalaman yang ditambahkan.
            </p>
        {% endif %}

        </div>
    </section>

    <footer class="site-footer">
        <div class="container">
            <p>&copy; 2026 {{ name }}. Fakultas Ilmu Komputer, Universitas Indonesia.</p>
        </div>
    </footer>
</body>
</html>